In [1]:
import pandas as pd
import numpy as np

In [2]:
True_news = pd.read_csv("True.csv")
Fake_news = pd.read_csv("Fake.csv")

In [3]:
True_news['label']=0
Fake_news['label']=1

In [4]:
True_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [5]:
Fake_news

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [6]:
dataset1 = True_news[['text', 'label']]
dataset2 = Fake_news[['text', 'label']]

In [7]:
dataset1

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [8]:
dataset2

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[23481 rows x 2 columns]

In [9]:
dataset = pd.concat([dataset1, dataset2])

In [10]:
dataset

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [11]:
dataset.shape

(44898, 2)

In [12]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [13]:
dataset['label'].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [14]:
dataset=dataset.sample(frac=1)

In [15]:
dataset

                                                    text  label
16552  (Reuters) - While the new seven-member Politbu...      0
8108   WASHINGTON (Reuters) - U.S. Democratic vice pr...      0
7243   The horror that is Donald Trump s rise to the ...      1
2229   WASHINGTON (Reuters) - A joint U.S.-South Kore...      0
8487   WASHINGTON (Reuters) - In response to Republic...      0
...                                                  ...    ...
17324  LONDON (Reuters) - Britain and France are firm...      0
8699   Donald Trump continued to unload on rival Ted ...      1
4428   In an unusual and shocking move, the editorial...      1
906    While spouses are a tradition at the G-20 Summ...      1
7584   Social conservatives run campaigns and win ele...      1

[44898 rows x 2 columns]

In [16]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [17]:
ps = WordNetLemmatizer()
stopwords = stopwords.words('english')
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\shyam\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [18]:
def clean_row(row):
    row = row.lower()
    row = re.sub('[^a-zA-Z]', ' ', row)
    token = row.split()
    news = [ps.lemmatize(word) for word in token if not word in stopwords]
    cleaned_news = ' '.join(news)
    return cleaned_news

In [19]:
dataset['text']

16552    (Reuters) - While the new seven-member Politbu...
8108     WASHINGTON (Reuters) - U.S. Democratic vice pr...
7243     The horror that is Donald Trump s rise to the ...
2229     WASHINGTON (Reuters) - A joint U.S.-South Kore...
8487     WASHINGTON (Reuters) - In response to Republic...
                               ...
17324    LONDON (Reuters) - Britain and France are firm...
8699     Donald Trump continued to unload on rival Ted ...
4428     In an unusual and shocking move, the editorial...
906      While spouses are a tradition at the G-20 Summ...
7584     Social conservatives run campaigns and win ele...
Name: text, Length: 44898, dtype: object

In [20]:
dataset['text'] = dataset['text'].apply(lambda x: clean_row(x))

In [21]:
dataset['text']

16552    reuters new seven member politburo standing co...
8108     washington reuters u democratic vice president...
7243     horror donald trump rise top gop presidential ...
2229     washington reuters joint u south korean milita...
8487     washington reuters response republican preside...
                               ...
17324    london reuters britain france firmly committed...
8699     donald trump continued unload rival ted cruz r...
4428     unusual shocking move editorial board usa toda...
906      spouse tradition g summit truth little world l...
7584     social conservative run campaign win election ...
Name: text, Length: 44898, dtype: object

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [23]:
vectorizer = TfidfVectorizer(max_features=50000, lowercase=False, ngram_range=(1, 2))

In [24]:
x = dataset.iloc[:35000, 0]
y = dataset.iloc[:35000, 1]

In [25]:
x

16552    reuters new seven member politburo standing co...
8108     washington reuters u democratic vice president...
7243     horror donald trump rise top gop presidential ...
2229     washington reuters joint u south korean milita...
8487     washington reuters response republican preside...
                               ...
10717    sacramento calif reuters people registered vot...
13816    buenos aire reuters searcher argentine submari...
2267     well moment anticipating come pas donald trump...
15965    dubai reuters kuwait ruler reappointed prime m...
348      would aware president trump first address unit...
Name: text, Length: 35000, dtype: object

In [26]:
y

16552    0
8108     0
7243     1
2229     0
8487     0
        ..
10717    0
13816    0
2267     1
15965    0
348      1
Name: label, Length: 35000, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split
train_data, test_data, train_label, test_label = train_test_split(x, y, test_size=0.2, random_state=0)

In [28]:
vec_train_data = vectorizer.fit_transform(train_data)
vec_train_data = vec_train_data.toarray()

In [29]:
vec_test_data = vectorizer.fit_transform(test_data)
vec_test_data = vec_test_data.toarray()

In [30]:
vec_train_data.shape,vec_test_data.shape

((28000, 50000), (7000, 50000))

In [31]:
vec_train_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [32]:
vec_test_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [51]:
training_data = pd.DataFrame(vec_train_data, columns=vectorizer.get_feature_names())
testing_data = pd.DataFrame(vec_test_data, columns=vectorizer.get_feature_names())

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
c:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [52]:
training_data

,aa,aapl,aaron,aba,ababa,aback,abadi,abandon,abandoned,abandoning,...,zoomph,zor,zor city,zor province,zucker,zuckerberg,zuckerberg said,zuma,zurich,zurich reuters
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
from sklearn.naive_bayes import MultinomialNB

In [43]:
clf = MultinomialNB()

In [53]:

clf.fit(training_data, train_label)

MultinomialNB()

In [46]:
y_pred = clf.predict(testing_data)

In [47]:
test_label

13976    0
19030    1
6238     1
21792    1
22058    1
        ..
4477     1
15943    1
2400     0
5390     1
11852    0
Name: label, Length: 7000, dtype: int64

In [48]:
y_pred

array([1, 1, 1, ..., 1, 1, 0], dtype=int64)

In [49]:
from sklearn.metrics import accuracy_score

In [54]:
accuracy_score(test_label, y_pred)

0.6967142857142857

In [56]:
y_pred_train = clf.predict(training_data)

In [57]:
accuracy_score(train_label, y_pred_train)

0.9589642857142857

In [72]:
txt=" While Honoring Native American Code Talkers, Trump Called Elizabeth Warren"
news=clean_row(str(txt))
pred=clf.predict(vectorizer.transform([news]).toarray())
if pred == 0:
    print("News is correct")
else:
    print("News is fake")

News is fake

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(